.Order {
  width: 80%;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14);
  border-radius: 4px;
  padding: 10px;
  margin: 20px auto;
  box-sizing: border-box;
  background-color: #fff;
}

.Ingredient {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    cursor: default;
    position: relative;
}

.Burger {
    max-height: 200px;
    overflow-y: scroll;
}

/* .Close {
    background: #fff;
    width: 30px;
    height: 30px;
    position: relative;
}
.Close:after {
    content: '';
    height: 30px;
    border-left: 2px solid rgba(0,0,0,.5);
    position: absolute;
    transform: rotate(45deg);
    left: 14px;
}

.Close:before {
    content: '';
    height: 30px;
    border-left: 2px solid rgba(0,0,0,.5);
    position: absolute;
    transform: rotate(-45deg);
    left: 14px;
}

.Close:hover::after, .Close:hover::before {
    border-color: #dc3545;
    transition: all .3s ease-in-out;
} */

@media (min-width: 1100px) {
    .Order {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.Badge {
    position: absolute;
    width: 17px;
    height: 17px;
    top: -8px;
    right: -8px;
    background: red;
    border-radius: 100%;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 11px;
    transition: .2s ease-in-out;
}

.Ingredient:hover .Badge {
    transform: scale(1.3);
}
