.NavigationItem {
  margin: 5px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 12px;
}

.NavigationItem a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0 5px;
    display: flex;
    align-items: center;
    height: 80%;
    width: auto;
    line-height: 10px;
  }

  .NavigationItem a {
    color: #fff;
    height: 100%;
    width: auto;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
}
