.Button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 6px 12px;
    margin: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: all .3s ease-in-out;
}

.Button:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 12px -5px rgba(0,0,0,.46);
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ccc;
}

.Button:disabled:hover {
    color: #fff;
    background: #ccc;
    box-shadow: 0 4px 20px 0 rgba(204, 204, 204,.14), 0 7px 12px -5px rgba(204, 204, 204,.46);
}

.Success {
    color: #28a745;
    border-color: #28a745;
}

.Success:hover {
    background-color: #28a745;
    box-shadow: 0 4px 20px 0 rgba(40,167,69,.14), 0 7px 12px -5px rgba(40,167,69,.46);
}

.Danger {
    color: #dc3545;
    border-color: #dc3545;
}

.Danger:hover {
    background-color: #dc3545;
    box-shadow: 0 4px 20px 0 rgba(220,53,69,.14), 0 7px 12px -5px rgba(220,53,69,.46);
}
