.Parallax {
    height: 80vh;
    background: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)),
                url('../../assets/images/home.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.Hero {
    font-family: 'Modern Antiqua', 'Titillium Web', sans-serif;
    color: #fff;
    font-size: 28px;
    width: 70%;
    margin: auto;
    text-shadow: 3px 3px 5px #000;
    padding-top: 30vh;
    padding-bottom: 20px;
}

.Hero2 {
    font-family: 'Modern Antiqua', 'Titillium Web', sans-serif;
    color: #fff;
    font-size: 28px;
    width: 70%;
    margin: auto;
    text-shadow: 3px 3px 5px #000;
    padding-bottom: 20px;
}

@media (min-width: 500px) {
    .Hero, .Hero2 {
        width: 340px;
    }
}
