.Auth {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14);
  border-radius: 4px;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
