.Background {
    height: 90vh;
    background: linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)),
                    url('../../assets/images/login.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 10vh;
    text-align: center;
}

.Auth {
  margin: 20px auto;
  padding: 20px 0;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14);
  border-radius: 4px;
  background: #fff;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
