.Footer {
    margin-top: 50px;
    margin-bottom: 0;
    background: #ddd;
    width: 100%;
    height: auto;
    text-align: center;
}

.Copy {
    text-align: center;
}

@media (min-width: 600px) {
    .Footer {
        height: 60px;
        display: grid;
        grid-template-columns: 10% 10% 80%;
    }

    .Copy {
        text-align: right;
        padding-right: 50px;
    }
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #703b09;
}
